
<div class="movies">
    <div class="box">
        <div class="box-img">
            <img src="alien.jpg">
        </div>

        <div class="content">
            <h3>ALIEN</h3>
            <p>IMDb 7.3/10</p>
        </div>
    </div>

    <div class="box">
        <div class="box-img">
            <img src="interestellar.jpg">
        </div>

        <div class="content">
            <h3>INTERESTELLAR</h3>
            <p>IMDb 8/10</p>
        </div>
    </div>

    <div class="box">
        <div class="box-img">
            <img src="doctorWho.jpg">
        </div>

        <div class="content">
            <h3>DOCTOR WHO</h3>
            <p>IMDb 6.5/10</p>
        </div>
    </div>
</div>
