<div class="father">
    <!-- <table class="table table-dark" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Valoraciones</th>
          </tr>
        </thead>
        <tbody *ngFor="let movie of genMovies">
          <tr>
            <th scope="row" >{{ movie.id }}</th>
            <td>{{ movie.titulo }}</td>
            <td>{{ movie.calificacion }}</td>
          </tr>
        </tbody>
    </table> -->

    <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">ID_Pelicula</th>
								<th class="column2">Titulo</th>
								<th class="column3">Valoracion</th>
							</tr>
						</thead>
						<tbody *ngFor="let movie of genMovies">
							<tr>
								<td class="column1">{{ movie.id }}</td>
								<td class="column2">{{ movie.titulo }}</td>
								<td class="column3">
									<ng-template #t let-fill="fill">
										<span class="star" [class.full]="fill === 100">
										  <span class="half" [style.width.%]="fill">&#9733;</span>
										</span>
									  </ng-template>
								  
									  <ngb-rating class="star" [(rate)]="movie.calificacion" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>{{ movie.calificacion }}/5
								
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

