<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/"><h1>SALOMON LUXURY</h1></a>
    <button class ="nav-bar-toggler" data-target="#menu" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" routerLink="/">Inicio</a>
        <a class="nav-item nav-link" routerLink="/list-movies">Peliculas</a>
        <a class="nav-item nav-link" routerLink="/valoraciones">Valoraciones</a>
        <a class="nav-item nav-link" routerLink="/contacta">Añadir Peliculas</a>
      </div>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <a class="navbar-brand mr-auto" routerLink="/"><h1>SALOMON FILMS</h1></a>
  <button class="navbar-toggler navbar-toggle-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto text-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-movies">Peliculas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/valoraciones">Valoraciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacta">Añadir Peliculas</a>
      </li>
    </ul>
  </div>
</nav>
