<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/"><h1>SALOMON LUXURY</h1></a>
    <div class="collapse navbar-collapse" id="">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" routerLink="/">Inicio</a>
        <a class="nav-item nav-link" routerLink="/list-movies">Peliculas</a>
        <a class="nav-item nav-link" routerLink="/valoraciones">Valoraciones</a>
        <a class="nav-item nav-link" routerLink="/contacta">Añadir Peliculas</a>
        <a class="nav-item nav-link disabled"> Bienvenido: </a>
      </div>
    </div>
  </nav>
   