.father{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-imagen{
    border-radius: 10px;
    background-color: #3d3b3d;
    display: flex;
    padding: 30px 10px;
    margin: 30px 50px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.274);
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
}

.card-imagen img{
    width: 100%;
    margin-left: 50px;
}

.todoString{
    margin: 0px 0px 40px 40px;
    width: 50%;
}

.titulo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.rate{
    text-align: center;
    margin-top: 20px;
    color: #fff;
    margin-right: 10px;
}

.star{
    color: yellow;
    font-size: 1.2rem;
}



